{% load dict_key %}
<td colspan="4" >
	<div class="card border-secondary mb-3">
		<table class="table">
			<colgroup>
				<col width='30%' />
				<col width='70%' />
			</colgroup>
			<tbody class="text-left">
				<tr>
					<td scope="row">주문 날짜</td>
					<td>{{ order_data.ord_date|date:"Y-m-d  H시 m분 s초" }}</td>
				</tr>
				<tr>
					<td scope="row">주문 번호</td>
					<td>{{ order_data.id }}</td>
				</tr>
			</tbody>
		</table>
		<div class="card-header">배송정보</div>
		<table class="table">
			<colgroup>
				<col width='30%' />
				<col width='70%' />
			</colgroup>
			<tbody class="text-left">
				<tr>
					<td scope="row">받는 사람</td>
					<td>{{ order_data.ord_cname }}</td>
				</tr>
				<tr>
					<td scope="row">연락처</td>
					<td>{{ order_data.ord_phone }}</td>
				</tr>
				<tr>
					<td scope="row">받는 주소</td>
					<td>{{ order_data.ord_addr }}</td>
				</tr>
			</tbody>
		</table>
		<div class="card-header">주문정보</div>
		<table class="table">
			<colgroup>
				<col width='30%' />
				<col width='20%' />
				<col width='50%' />
			</colgroup>
			<tbody class="text-left">
				<tr>
					<td scope="row">주문 상품</td>
					<td colspan="2">{{ order_data.ord_pid.st_name }}</td>
				</tr>
				<tr>
					<td scope="row">수량</td>
					<td colspan="2">{{ order_data.ord_quantity }}</td>
				</tr>
				<tr>
					<td scope="row">주문 상태</td>
					<td id="od_state">{{ ostate|dict_key:order_data.state }}</td>
					<td><button id="od_btn_mod" name="n" class="btn btn-secondary btn-sm">수정</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<form>
		<input type="hidden" id="od_id_txt" value="{{ order_data.id }}">
		<input type="hidden" id="od_state_txt" value="{{ order_data.state }}">
	</form>
</td>