{% load humanize %}
{% load staticfiles %}
<div class="card-header bg-dark text-white">
	<h4 class="my-0 font-weight-normal">상품 목록</h4>
</div>
<div class="card-body" >
	<div class="card-deck mb-2" style="cursor:pointer">
		{% if sangpum_data %} {% for s in sangpum_data %}
		<div class="card mb-4" name="sangpums" id="sangpum_{{s.id}}">
			<div class="card-header">
	        	<img src="{% static 'img/'|add:s.st_img.name %}" alt="{{s.st_img.name}}" style="width:100%">
	      	</div>
	      	<div>
	      		<ul class="list-unstyled mt-3 mb-4">
		          <li>{{s.st_name}}</li>
		          <li>{{s.st_price|intcomma}}</li>
        		</ul>
	      	</div>
	    </div>
		{% endfor %} {% else %}
		<div class="card mb-4">
			<div class="card-header">
	      	</div>
	      	<div class="card-body">
	      		<ul class="list-unstyled mt-3 mb-4">
		          <li>등록된 상품이 없습니다.</li>
        		</ul>
	      	</div>
	    </div>
		{% endif %}
	</div>
	<div class='table-responsive-md' id='page_table'>
		<div>
		{% if sangpum_data.has_previous %}
			<a class="btn btn-light" href="javascript:ajaxGuset.sangpum_list('{{ sangpum_data.previous_page_number }}')">&laquo;</a>
		{% else %}
			<a class="btn btn-light disabled">&laquo;</a>
		{% endif %}
		{% if sangpum_data.number > 3 %}
			<a class="btn btn-light" href="javascript:ajaxGuset.sangpum_list('1')"> 1 </a>
			<a class="btn btn-light disabled">...</a>
		{% endif %}
		{% for p in page_range %}
			{% if p > 0 %}
				{% if p == sangpum_data.number %}
					<a class="btn btn-light disabled">{{p}}</a>
				{% elif p != sangpum_data.number %}
					<a class="btn btn-light" href="javascript:ajaxGuset.sangpum_list('{{p}}')">{{p}}</a>
				{% endif%}
			{% endif %}
		{% endfor %}
		{% if sangpum_data.number < max_index|add:'-2' %}
			<a class="btn btn-light disabled">...</a>
			<a class="btn btn-light" href="javascript:ajaxJs.ajaxGuset.sangpum_list('{{max_index}}')"> {{max_index}} </a>
		{% endif %}
		{% if sangpum_data.has_next  %}
			<a class="btn btn-light" href="javascript:ajaxJs.ajaxGuset.sangpum_list('{{ sangpum_data.next_page_number }}')">&raquo;</a>
		{% else %}
			<a class="btn btn-light disabled">&raquo;</a>
		{% endif %}
		</div>
	</div>
	<form action="#" name="ord_frm">
		<input type="hidden" name="pre_sangpum_detail" id="pre_sangpum_detail" value="">
		<input type="hidden" name="now_page" id="now_page" value="sangpum_data.number">
	</form>
</div>