{% load humanize %}
{% load mathfilters %}
<div class="card-header bg-dark text-white">
	<h4 class="my-0 font-weight-normal">주문하기</h4>
</div>
<div class="card-body" >
	<div class="card border-secondary mb-3">
		<table class="table">
			<colgroup>
				<col width='50%' />
				<col width='25%' />
				<col width='25%' />
			</colgroup>
			<thead>
			<tr class='text-center'>
				<th scope='col'>상품</th>
				<th scope='col'>금액[수량]</th>
				<th scope='col'>총금액</th>
			</tr>
		</thead>
			<tbody class="text-center">
				<tr>
					<td scope="row">{{sangpum_data.st_name}}</td>
					<td>{{ sangpum_data.st_price|intcomma }}원[{{quantity}}개]</td>
					<td> {{ sangpum_data.st_price|mul:quantity|intcomma }}원</td>
			</tbody>
		</table>
		<div class="card-header">배송정보 입력</div>
		<form method="post">
		<table class="table">
			<colgroup>
				<col width='20%' />
				<col width='80%' />
			</colgroup>
			<tbody class="text-left">
				<tr>
					<td scope="row">배송지 선택</th>
					<td>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="ship_bsic" name="op_ship" value="basic" checked="checked"/>
							<label class="form-check-label" for="ship_bsic">기본배송지</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="ship_recent" name="op_ship" value="recent" />
							<label class="form-check-label" for="ship_recent">최근배송지</label>
						</div>
						 
					</td>
				</tr>
				<tr>
					<td scope="row"><label for="ord_cname">받는 사람</label></td>
					<td><input class="form-control" type="text" name="ord_cname" id="ord_cname" value="{{cus_data.cus_name}}"></td>
				</tr>
				<tr>
					<td scope="row"><label for="ord_phone">연락처</label></td>
					<td><input class="form-control" type="text" name="ord_phone" id="ord_phone" value="{{cus_data.cus_phone}}"></td>
				</tr>
				<tr>
					<td scope="row"><label for="ord_addr">받는 주소</label></td>
					<td><input class="form-control" type="text" name="ord_addr" id="ord_addr" value="{{cus_data.cus_addr}}"></td>
				</tr>
				<tr>
					<td scope="row" colspan="2" class="text-center">
						<input id="sop_submit" class="btn btn-secondary btn-lg" type="button" value="주문">
					</th>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="sop_quantity" value="{{ quantity }}">
		<input type="hidden" id="sop_pid" value="{{ sangpum_data.id }}">
		</form>
	</div>
</div>